nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}
